.body {
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-dark-1;
}

.company-name {
  margin-top: 3rem;
  text-align: center;
  font-size: 9rem;
  color: rgb(105, 6, 6);
}

.product-primary {
  text-transform: uppercase;
  display: inline-block;
  &--main {
    display: inline-block;
    font-size: 5rem;
    font-weight: 400;
    letter-spacing: 1rem;
    margin: 0 auto;
  }

  &--sub {
    display: inline-block;
    font-size: 3.5rem;
    font-weight: 400;
    letter-spacing: 0.7rem;
    margin-bottom: 1rem;
  }
}

.fine-print {
  &--details {
    font-size: 1.2rem;
  }
}
